registry=https://azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/registry/ 
strict-ssl=false                     
always-auth=true

; маркер начала проверки подлинности
//azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/registry/:username=token_npm
//azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/registry/:_password=Mmk1N2hjY29zYWF3bWwyNm5teHNtdGtuZ256anl1Z2dwbzRsd3F1MmV3dGw0eGxlZm9ycQ==
//azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/registry/:email=lazareves@tatneft.tatar
//azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/:username=token_npm
//azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/:_password=Mmk1N2hjY29zYWF3bWwyNm5teHNtdGtuZ256anl1Z2dwbzRsd3F1MmV3dGw0eGxlZm9ycQ==
//azure-devops.corp.tatneft.ru/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B%20%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8/_packaging/tncr-npm/npm/:email=lazareves@tatneft.tatar
; маркер окончания проверки подлинности